node_modules
.cache
dist
dist-electron
release
.tosu-src
terminals
resources/tosu/**
!resources/tosu/tosu.env
!resources/tosu/version
resources/tosu/tosu.exe
resources/tosu/tosu
resources/tosu/*.zip
resources/tosu/logs
resources/tosu/.cache
resources/tosu/game-overlay
resources/tosu/static
resources/tosu/settings
*.log
.DS_Store
Thumbs.db